*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-top: 100px;
}

header{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header h1{
    font-size: 38px;
    font-weight: bold;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    max-width: 800px;
    width: 100%;
    margin-bottom: 48px;
}

form input{
    font-size: 24px;
    background-color: #E7E7E7;
    border: none;
    border-bottom: 2px solid #000;
    padding: 8px;
}

form button{
    background-color: black;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
}

table th{
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

tbody td{
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

table{
    width: 100%;
    font-size: 18px;
}